@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --rock: #b69e31;
  --ghost: #70559b;
  --steel: #b7b9d0;
  --water: #6493eb;
  --grass: #74cb48;
  --psychic: #fb5584;
  --ice: #9ad6df;
  --dark: #75574c;
  --fairy: #e69eac;
  --fighting: #c12239;
  --flying: #a891ec;
  --poison: #a43e9e;
  --ground: #dec16b;
  --bug: #a7b723;
  --fire: #f57d31;
  --electric: #f9cf30;
  --dragon: #7037ff;
  --dark-gray: #212121;
  --medium-gray: #666666;
  --light-gray: #e0e0e0;
  --bg: #f7f7f7;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

*::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p {
  line-height: 16px;
}

.App{
  display: grid;
  place-items: center;
}